html body{
    margin: none;
    padding: none;
    background-color: darkgreen;
}

body {
    height: 100vh;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: ivory;
}

#mainCanvas {
    padding: 10px;
}